{% extends 'base.html' %}

{% block content %}
            <h2>Signup Sheet</h2>
            <form action="/authenticate" method="post">
                <label>
                    Username:<br>
                     <input type="text" name="username" value='{{username}}'/>{{username_error}}<br>
                </label>
                <label>
                    Password:<br> <input type="password" name="password1" />{{password_error}}<br>
                </label>
                <label>Re-type Password:<br> 
                    <input type="password" name="password2" /><br>
                </label>
                <label>
                    E-mail Address:<br> <input type="email" name="email" value='{{email}}' />{{email_error}}<br>
                </label>
                <input type='submit' name='Submit' />
            </form>
{% endblock %}