<!DOCTYPE html>
    <html>
        <header>
            <h1>My Awesome Website</h1>
        </header>
        <body>
            <h2>Signup Sheet</h2>
            <form action="/authenticate" method="post">
                <label>
                    Username: <input type="text" name="username" />
                </label>
                <label>
                    Password: <input type="password" name="password1" />
                </label>
                <label>Re-type Password: 
                    <input type="text" name="password2" />
                </label>
                <label>
                    E-mail Address: <input type="email" name="email" />
                </label>
            </form>
        </body>
        <footer>
            <p>The Experience Enterprises</p>
        </footer>
    </html>